<p-dialog
  header="Header"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="visible"
  (onHide)="resetModal()"
>
  <ng-template pTemplate="header">
    <h2 style="color: var(--primary-color)">Detail Karyawan</h2>
  </ng-template>
  <div class="flex-container emp-detail-top">
    <div class="flex-container emp-detail-headers" style="margin-right: 2rem">
      <img
        [src]="employeeDetail?.photo"
        [alt]="employeeDetail?.display_name"
        class="employee-photo"
        style="margin-right: 1rem"
      />
      <div>
        <h3 style="font-weight: 600">{{ employeeDetail?.display_name }}</h3>
        <p>NIP: {{ employeeDetail?.nip }}</p>
      </div>
    </div>
    <div class="employment-duration">
      <p>
        Tgl. Masuk :
        {{
          employeeDetail?.start_date ? employeeDetail?.start_date : "02/02/2020"
        }}
      </p>
      <p>
        Tgl. Keluar:
        {{ employeeDetail?.resign_date ? employeeDetail?.resign_date : "-" }}
      </p>
    </div>
  </div>
  <table>
    <tr>
      <td class="emp-detail-desc">Jenis Kelamin</td>
      <td>: {{ employeeDetail?.gender }}</td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Email</td>
      <td>: {{ employeeDetail?.email }}</td>
    </tr>
    <tr>
      <td class="emp-detail-desc">No. Telepon</td>
      <td>: {{ employeeDetail?.phone }}</td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Kontak Darurat</td>
      <td>
        : {{ employeeDetail?.emergency_contact }} -
        {{ employeeDetail?.emergency_number }}
      </td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Divisi</td>
      <td>: {{ employeeDetail?.division }}</td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Jabatan</td>
      <td>
        :
        {{
          employeeDetail?.position ? employeeDetail?.position : "Employee/Staff"
        }}
      </td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Level</td>
      <td>
        :
        {{ employeeDetail?.level }}
      </td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Alamat</td>
      <td>
        :
        {{ employeeDetail?.address }}
      </td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Jumlah Cuti</td>
      <!-- TO BE UPDATED LATER ON -->
      <td>: 10</td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Status</td>
      <!-- TO BE UPDATED SOON -->
      <td>:Aktif</td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Agama</td>
      <td>
        :
        {{ employeeDetail?.religion ? employeeDetail?.religion : "Kristen" }}
      </td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Agama</td>
      <td>
        :
        {{
          employeeDetail?.blood_type ? employeeDetail?.blood_type : "A/B/AB/O"
        }}
      </td>
    </tr>
    <tr>
      <td class="emp-detail-desc">Agama</td>
      <td>
        :
        {{
          employeeDetail?.marriage_status
            ? employeeDetail?.marriage_status
            : "Unknown"
        }}
      </td>
    </tr>
    <tr>
      <td class="emp-detail-desc">No. KTP</td>
      <td>
        :
        {{ employeeDetail?.ktp ? employeeDetail?.ktp : "KTP Number Here" }}
      </td>
    </tr>
    <tr>
      <td class="emp-detail-desc">No. SIM</td>
      <td>
        :
        {{
          employeeDetail?.sim_number
            ? employeeDetail?.sim_number
            : "SIM Number Here"
        }}
      </td>
    </tr>
    <tr>
      <td class="emp-detail-desc">No. KK</td>
      <td>
        :
        {{ employeeDetail?.kk ? employeeDetail?.kk : "KK Number Here" }}
      </td>
    </tr>
  </table>
</p-dialog>
