.flex-container {
  display: flex;
}
.employee-photo {
  max-width: 6.25rem;
  min-width: 6.25rem;
  max-height: 6.25rem;
  min-height: 6.25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.emp-detail-headers,
.emp-detail-top {
  justify-content: flex-start;
  align-items: center;
}
.emp-detail-headers,
.employment-duration {
  min-width: 50%;
}
.emp-detail-desc {
  font-weight: 600;
}
table {
  margin: 1.25rem 0;
  min-width: 100%;
  border-collapse: collapse;
}
td,
td.emp-detail-desc {
  padding: 0.55rem;
}
td.emp-detail-desc {
  width: 35%;
}
td.flex-container {
  align-items: center;
}
a.preview-link {
  color: var(--primary-color);
  font-weight: 600;
  margin-left: 0.25rem;
  text-decoration: none;
}
a.preview-link:hover,
a.preview-link:active {
  text-decoration: underline;
}
a.preview-link:visited {
  color: var(--primary-color);
}
table.education-table {
  border-collapse: initial;
}
table.education-table > thead > tr > th {
  padding: 0.5rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 0.25rem;
}
table.education-table > tbody > tr > td {
  border-bottom: 1px var(--surface-300) solid;
}
td.date-table,
th.date-table {
  width: 10%;
}
td.education-action {
  justify-content: space-between;
}
/* table.education-table > thead > tr > th {
  padding: ;
} */
