<div class="sidebar">
  <div class="profile-section">
    <img src="{{ profilePictureUrl }}" alt="Profile Picture" />
    <div class="profile-info">
      <h2>John Doe</h2>
      <p>Administrator</p>
    </div>
  </div>
  <ul>
    <li *ngFor="let sidebarItem of sidebarItems">
      <a routerLink="{{ sidebarItem.route }}">
        <ng-icon name="{{ sidebarItem.icon }}"></ng-icon>
        {{ sidebarItem.title }}
        <ng-icon
          *ngIf="sidebarItem.children"
          name="matKeyboardArrowDown"
        ></ng-icon>
      </a>
      <ul *ngIf="sidebarItem.children">
        <li *ngFor="let child of sidebarItem.children">
          <a routerLink="{{ child.route }}">{{ child.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
