h1 {
  font-family: Gotham;
  color: var(--primary-color);
  text-align: center;
  margin-top: 2rem;
}
.container {
  padding: 1.5rem;
  background-color: var(--surface-200);
}
.flex-container {
  display: flex;
}
.header {
  justify-content: space-between;
  align-items: center;
}
.profile-pic {
  text-align: center;
}
.profile-pic > * {
  margin-bottom: -0.5rem;
}
form * {
  font-family: Gotham;
}
.enter-resign-date > p {
  font-weight: 700;
}
