<div class="sidebar">
  <div class="profile-section">
    <img style="object-fit: cover" src="{{ user.photo }}" alt="Profile Picture" />
    <div class="profile-info">
      <h3>{{ user["display_name"] }}</h3>
      <p>{{ user.division }}</p>
    </div>
  </div>
  <ul>
    <li *ngFor="let sidebarItem of sidebarItems; index as i" class="top-level">
      <a
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="{{ sidebarItem.route }}"
        (click)="toggleSubmenu(i)"
      >
        <ng-icon name="{{ sidebarItem.icon }}"></ng-icon>
        {{ sidebarItem.title }}
        <ng-icon
          *ngIf="sidebarItem.children"
          name="matKeyboardArrowDown"
        ></ng-icon>
      </a>
      <ul
        *ngIf="sidebarItem.children && sidebarItem.show"
        [@slideDownAnimation]
      >
        <li *ngFor="let child of sidebarItem.children">
          <a routerLinkActive="link-active" routerLink="{{ child.route }}">{{
            child.title
          }}</a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="logout">
    <a (click)="logout()">
      <ng-icon name="matLogout"></ng-icon>
    </a>
  </div>
</div>
