@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-Black.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-BlackItalic.otf) format("opentype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-BoldItalic.otf) format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-Book.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-BookItalic.otf) format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-Medium.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-MediumItalic.otf) format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-Thin.otf) format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Gotham;
  src: url(assets/fonts/Gotham/Gotham-ThinItalic.otf) format("opentype");
  font-weight: 200;
  font-style: italic;
}
